
<div class="container" style="padding-top:70px">
  <div class="row">
    <div class="col-xs-12">
      <% @favorites.each do |favorite| %>
      <div class="card">
          <%= favorite.flat.name %>
          <%= favorite.flat.address %>
          <% end %>
      </div>
    </div>
  </div>
</div>
