.btn-grey {
  color: #999999;
  border: 1px solid #999999;
  padding: 15px 20px;
  border-radius: 5px;
  font-weight: lighter;
  opacity: 0.6;
}

.btn-grey:hover {
  opacity: 1;
  text-decoration: none;
  color: #999999;
}

.btn-form {
  color: #999999;
  border: 1px solid #999999;
  padding: 15px 20px;
  border-radius: 5px;
  opacity: 0.6;
  color: black;
}


.btn-form:hover {
  text-shadow: 0 1px 3px rgba(0,0,0,0.2);
  opacity: 1;
  font-weight:bold;

}
