.box {
  width: 700px;
  height: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(210,210,210);
  margin: 15px 15px;
}


.card {
  margin-top: 20px;
  background-position: center;
  background-size: cover !important;
  height: 175px;
  background-color: rgb(210,210,210);
  border-radius:3px;
  color: white;
  position: relative;
}

.card-title {
  font-weight: bold;
  position: absolute;
  top: 0px;
  left: 10px;
}


.card-address {
  font-weight: lighter;
  position: absolute;
  bottom: 0px;
  left: 10px
}


.card-button {
  font-weight: lighter;
  position: absolute;
  bottom: 0px;
  right: 10px;
}
