.form {
  margin-top: 50px;
  display: flex;
  background-color: white;
  justify-content: center;
  align-items: center;
  padding: 50px 30px;
  // text-shadow: 0 1px 3px rgba(0,0,0,0.2);
  box-shadow: 1px 1px rgba(150,150,150,0.2);
  color: black;
  margin-top: 0px;
}

.input-form {
  border: 1px solid black;

}

.text-center {
  text-align: center;
}

#title-form {
  color: black;
}
